{% extends 'base/dashboard.html' %}

{% block projectDetail %}
    {% block customcss %}
        <style type="text/css">
            html, body {
                background: #e8e7e78a;
            }
        </style>
    {% endblock %}
    <div>
        <p>分析方法</p>
        <p>1、tps只是结果,虚拟用户数，线程数，平均响应时长，错误数，90%的平均响应时长，服务器负载，结果准确性尽量用越来越多的点来评估你的服务。</p>
        <p>2、ps：服务处理的吞吐量，每秒响应请求的数量，tps是压力测试最直观的结果，是衡量服务性能的一个结果性指标，一般说压力测试性能值就是tps值。最浅显直白的理解，统计access日志每秒的总数就是那一秒的tps值。</p>
        <p>3、错误数：一般服务压力测试的时候是不允许出现错误的，即错误数:0%,但是复杂条件下，有的服务是允许出错率不超过x%的，看服务而定。</p>
        <p>4、平均响应时长：移动互联网时代，你让一个用户打开app等你1s，用户早就跑了，打开app立刻看见内容是最起码的要求，一般好的app接口相应时间都是毫秒级别的，但是不同的场景不同的要求，我的上一家公司要求平均相应时长在20ms以内。可是上上家公司的算法接口，平均相应时长在100ms，不同的服务不同的要求，你需要找到适合你自己的要求。</p>
        <p>5、90%的平均响应时长：表示90%的事务，服务器的响应都维持在某个值附近。比如有三个时间：1秒、5秒、12秒，则平均时间为6秒，而另外一种情况：5秒、6秒、7秒，平均时间也为6秒，显然第二种比第一种要稳定多了。所以，我们在查看平均事务响应时间的时候，先看整体曲线走势，如果整体趋势比较平滑，没有忽上忽下的波动情况，取“AverageTime”与“90 Percent Time”都可以，如果整体趋势毫无规律，波动非常大，我们就不用“Average Time”而使用“90 Percent Time”可能更真实些</p>
        <p>6、结果准确性：多线程下访问下结果的正确性。这个在压测的时候往往容易被忽略。这个需要你在压力测试的时候抽查访问接口，查看结果是否正确，曾经碰到过qa测试通过的接口，上线之后发现返回结果不正确，内网回测正确，后来内网压力测试的时候成功复现，是由于使用了不安全的多线程代码导致的，其实压测的时候抽查看一眼，很容易看出来。</p>

        <p>7、线程数：这个指标不在各大压力测试工具监控之内，但是这其实是压力测试非常重要的服务指标。根据经验，好多时候服务崩掉的时候，线程数已经满了，好多时候应用服务器的线程在某个范围之内，服务是最健康的状态，超过某个范围，服务处于不稳定状态，处于有点网络抖动延迟都容易崩溃的临界点，所以熟悉这个值，你就心里清楚你的服务当前在什么状态下。</p>
    </div>

{% endblock %}