<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/statichtml/meta.html' %}

    {% block custommeta %}

    {% endblock %}

    {% include 'base/statichtml/css.html' %}
    <title>朱少杰2015014140</title>
    {% include 'base/statichtml/js.html' %}
</head>

<body>
<div class="container">
    <!-- The justified navigation menu is meant for single line per list item.
         Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <p style="font-size: 24px; color: #777; margin: 10px">自动化测试</p>
{#    <h3 class="text-muted-base">自动化测试</h3>#}
        {% block navigationBar %}
        {% endblock %}
    </div>

    {% block indexInfo %}
    {% endblock %}

    <!-- Site footer -->
    <footer class="footer" style="color: #9acfea">
        <p>&copy; 2019 Auto, Sorke.</p>
    </footer>

</div> <!-- /container -->


</body>
</html>
