<link rel="icon" href="/static/bootstrap/image/favicon.ico">
<link rel="shortcut icon" href="/static/bootstrap/image/favicon.ico">
<link rel="icon" href="/static/bootstrap/image/favicon.ico">
<link rel="icon" href="/static/bootstrap/image/favicon.ico">
<!-- Bootstrap core CSS -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="/static/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/justified-nav.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/theme.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/static/bootstrap/css/tooltip-viewport.css" rel="stylesheet">