<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'base/statichtml/meta.html' %}
    <title>朱少杰2015014140</title>
    {% include 'base/statichtml/css.html' %}
    {% include 'base/statichtml/js.html' %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="/">自动化测试</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/downloads">Downloads</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/projects/">概述 <span class="sr-only">(current)</span></a></li>
                <li><a href="reports/">Reports</a></li>
                <li><a href="analytics/">Analytics</a></li>
                <li><a href="export/">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block projectDetail %}

            {% endblock %}
        </div>
    </div>
</div>
<script type="application/javascript">
        var currurl = window.location.pathname;
        currurl = currurl.replace('/', '').replace('/', '');
        var li_elements = document.getElementsByTagName('li');
        if (currurl == 'projects') {
            console.log(currurl+li_elements.length);
            li_elements[1].setAttribute("class", "active");
            li_elements[5].setAttribute("class", "active");
        } else if (currurl == 'downloads') {
            li_elements[3].setAttribute("class", "active");
        } else if (currurl == 'about') {
            li_elements[4].setAttribute("class", "active");
        } else if (currurl == '') {
            li_elements[0].setAttribute("class", "active");
        }
    </script>
</body>
</html>
