<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dashboard Template for Bootstrap</title>
    {% include 'base/css.html' %}
    {% include 'base/js.html' %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" href="/">自动化测试</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/downloads">Downloads</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/project">概述 <span class="sr-only">(current)</span></a></li>
                <li><a href="/reports">Reports</a></li>
                <li><a href="/analytics">Analytics</a></li>
                <li><a href="/export">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block projectDetail %}

            {% endblock %}
        </div>
    </div>
</div>
<script type="application/javascript">
        var currurl = window.location.pathname;
        currurl = currurl.replace('/', '').replace('/', '');
        var li_elements = document.getElementsByTagName('li');
        if (currurl == 'projects') {
            alert(currurl+li_elements.length);
            li_elements[1].setAttribute("class", "active");
            li_elements[5].setAttribute("class", "active");
        } else if (currurl == 'downloads') {
            li_elements[3].setAttribute("class", "active");
        } else if (currurl == 'about') {
            li_elements[4].setAttribute("class", "active");
        } else if (currurl == '') {
            li_elements[0].setAttribute("class", "active");
        }
    </script>
</body>
</html>
