<link rel="icon" href="/static/bootstrap/images/favicon.ico">
<link rel="shortcut icon" href="/static/bootstrap/images/favicon.ico">
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link href="/static/bootstrap/css/justified-nav.css" rel="stylesheet">
<link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/static/bootstrap/css/theme.css" rel="stylesheet">
<link href="/static/bootstrap/css/tooltip-viewport.css" rel="stylesheet">
{% block customcss %}

{% endblock %}