{% extends "base/base.html" %}
{% block navigationBar %}
    {% include "base/navigationBar.html" %}
{% endblock %}
{% block indexInfo %}
    <div class="jumbotron" style="margin: 200px; padding: 10px">
        <h1>Web 自动化测试</h1>
        <p class="lead">对目前而言，企业在web测试中使用最多的还是人工测试。相比重复繁琐的工作，机器自动化测试对企业的利益更有帮助，在使用中更占优势。</p>

        <form class="form-inline">
            {% csrf_token %}
            <div class="form-group" style="width: 49%; height: 45px">
                <label class="sr-only" for="exampleInputEmail3">Email address</label>
                <input type="text" class="form-control" style="width: 100%; height: 100%" id="exampleInputEmail3"
                       placeholder="http://www.baidu.com/" name="site_ip">
            </div>
            <div class="form-group" style="width: 49%; height: 45px">
                <label class="sr-only" for="exampleInputPassword3">Password</label>
                <input type="text" class="form-control" style="width: 100%; height: 100%" id="exampleInputPassword3"
                       placeholder="127.0.0.1;username;password;port" name="service_info">
            </div>
            <p></p>
            <span id="result" style="float: right; color: #FF0000">{% if msg %}{{ msg }}{% endif %}</span>
            <p style="padding-top: 20px; height: 50px"><a id="sign_in" class="btn btn-lg btn-success">GET START</a></p>
        </form>
    </div>
        {% block customjs %}
        <script type="application/javascript">
            function getRequest(name) {
                var url = window.location.search; //获取url中"?"符后的字串
                var theRequest = {};
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        //就是这句的问题
                        theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                        //之前用了unescape()
                        //才会出现乱码
                    }
                }
                return theRequest[name];
            }

            if (getRequest('msg')) {
                $('#result').html(getRequest('msg'));
            }
            $(document).ready(function () {
                $('#sign_in').click(function () {
                    var site_ip = $("input[name='site_ip']").val();
                    var service_info = $("input[name='service_info']").val();
                    $.ajax({
                        url: 'index_site/',
                        type: 'POST',
                        data: {
                            site_ip: site_ip,
                            service_info: service_info
                        },
                        headers: {"X-CSRFToken": $.cookie('csrftoken')},
                        beforeSend: function () {
                            // 禁用按钮防止重复提交
                            $('#result').html('正在连接测试，请稍等......');
                        },
                        success: function (res) {
                            if ('success' === res.message) {
                                window.location.href = 'projects/';
                                console.log(res.message)
                            } else {
                                $('#result').html(res.message);
                            }
                        }
                    })
                });
            });
        </script>
    {% endblock %}
{% endblock %}