{% extends 'base/dashboard.html' %}

{% block projectDetail %}
    {% block customcss %}
        <style type="text/css">
            html, body {
                background: #e8e7e78a;
            }
        </style>
    {% endblock %}
    {% include 'projects/overview.html' %}
    {% block chartblock %}
        <div id="category" style="width: 300px; height: 600px"></div>
        {% block customjs %}
            <script type="text/javascript">
                var category_element = document.getElementById('category');
                var categoryE = echarts.init(category_element);
                var base = +new Date(2014, 9, 3);
                var oneDay = 24 * 3600 * 1000;
                var date = [];

                var data = [Math.random() * 150];
                var now = new Date(base);

                function addData(shift) {
                    now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/');
                    date.push(now);
                    data.push((Math.random() - 0.4) * 10 + data[data.length - 1]);

                    if (shift) {
                        date.shift();
                        data.shift();
                    }

                    now = new Date(+new Date(now) + oneDay);
                }

                for (var i = 1; i < 100; i++) {
                    addData();
                }

                option = {
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: date
                    },
                    yAxis: {
                        boundaryGap: [0, '50%'],
                        type: 'value'
                    },
                    series: [
                        {
                            name: '成交',
                            type: 'line',
                            smooth: true,
                            symbol: 'none',
                            stack: 'a',
                            areaStyle: {
                                normal: {}
                            },
                            data: data
                        }
                    ]
                };

                setInterval(function () {
                    addData(true);
                    categoryE.setOption({
                        xAxis: {
                            data: date
                        },
                        series: [{
                            name: '成交',
                            data: data
                        }]
                    });
                }, 500);
            </script>
        {% endblock %}
    {% endblock %}
{% endblock %}